:root {
    --primery: hsl(0, 0%, 100%);
    --primery-blured: hsla(0, 0%, 100%, 0.5);
    --secondary: hsl(0, 0%, 0%);
}
html {
    font-size: 16px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body {
    background: var(--primery);
}

header {
    position: sticky;
    top: 1rem;
    left: 0;
    display: flex;
    align-items: center;
    width: 90%;
    min-height: 4rem;
    margin: 0 auto 4rem auto;
    padding: 1em;
    border: 0.3125rem solid var(--secondary);
    border-radius: 1rem;
    background: var(--primery-blured);
    backdrop-filter: blur(1rem);
}
header a {
    position: absolute;
    font-weight: 700;
    color: var(--secondary);
}
header a:hover {
    color: hsl(200, 100%, 50%);
}
header a:active {
    color: hsl(225, 100%, 50%);
}

main {
    width: 75%;
    margin: 0 auto;
}
main a {
    color: hsl(200, 100%, 50%);
}
main a:hover {
    color: hsl(200, 100%, 70%);
}
main a:active {
    color: hsl(225, 100%, 50%);
}

input[type="text"] {
    min-width: 20rem;
    min-height: 2.5rem;
    margin: 1rem 0.5rem;
    padding: 0.5em 1em;
    border: 0.1562rem solid var(--secondary);
    border-radius: 0.5rem;
    background: var(--primery-blured);
}
input[type="text"]:hover {
    border: 0.1562rem solid hsl(200, 100%, 50%);
}
input[type="text"]:focus {
    border: 0.1562rem solid hsl(225, 100%, 50%);
    outline: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1562rem solid var(--secondary);
    border-radius: 25rem;
    background: var(--primery-blured);
    appearance: none;
    -webkit-appearance: none;
}
input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: var(--secondary);
}
input[type="checkbox"]:hover {
    border: 0.1562rem solid hsl(200, 100%, 50%);
}
input[type="checkbox"]:active {
    border: 0.1562rem solid hsl(225, 100%, 50%);
}

article {
    width: 95%;
    margin: 0 auto;
}

hr {
    height: 0.3125rem;
    margin: 1rem;
    border-radius: 1rem;
    background: var(--secondary);
}

h1 {
    margin: 0 auto;
    color: var(--secondary);
}

h2 {
    text-align: center;
    margin: 3rem 0;
    color: var(--secondary);
}

p {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: var(--secondary);
}

button {
    margin: 0.5rem 0.25rem;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary);
    border: 0.1562rem solid var(--secondary);
    border-radius: 0.5rem;
    background: var(--primery-blured);
    cursor: pointer;
}
button:hover {
    border: 0.1562rem solid hsl(200, 100%, 50%);
}
button:active {
    border: 0.1562rem solid hsl(225, 100%, 50%);
}