:root {
    --primery-clr: hsl(0, 0%, 100%);
    --primery-low-op-clr: hsla(0, 0%, 100%, 0.5);
    --secondary-clr: hsl(0, 0%, 0%);

    --link-clr: hsl(225, 100%, 50%);

    --hover-clr: hsl(200, 100%, 50%);
    --click-clr: hsl(225, 100%, 50%);
    --focus-clr: hsl(225, 100%, 50%);

    --border-style: solid;
    --border-clr: hsl(0, 0%, 0%);
    --border-width: 1rem;
}
html {
    font-size: 16px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body {
    background: var(--primery-clr);
}

header {
    position: sticky;
    top: 1rem;
    left: 0;
    display: flex;
    align-items: center;
    width: 90%;
    min-height: 4rem;
    margin: 0 auto 4rem auto;
    padding: 1em;
    border-style: var(--border-style);
    border-color: var(--border-clr);
    border-width: 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 2) 
        calc(var(--border-width) / 2) 
        calc(var(--border-width) / 4)
    ;
    border-radius: 1rem;
    background: var(--primery-low-op-clr);
    backdrop-filter: blur(0.5rem);
    z-index: 10;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: var(--secondary-clr);
}
header a {
    position: absolute;
    font-weight: 700;
    color: var(--secondary-clr);
}
header a:hover {
    color: var(--hover-clr);
}
header a:active {
    color: var(--click-clr);
}
header .toggle-theme-button {
    margin-left: auto;
}

.blog {
    --_breakout: minmax(0, 2rem);
    --_right-side: minmax(0, 2fr);
    --_left-side: minmax(0, 0.25fr);

    display: grid;
    grid-template-columns: 0.50fr [breakout-start] 2rem [content-start] 2fr [content-end] 2rem [breakout-end] 2fr;
    width: 100%;
    margin: 0 auto;
}
.blog > * {
    width: 100%;
    grid-column: content;
}
.blog > .breakout {
    grid-column: breakout;
}
.blog h2 {
    margin-bottom: 3rem;
    color: var(--secondary-clr);
}
.blog h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-clr);
}
.blog p {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: var(--secondary-clr);
}
.blog a {
    color: var(--link-clr);
}
.blog a:hover {
    color: var(--hover-clr);
}
.blog a:active {
    color: var(--click-clr);
}

hr {
    height: 0.25rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: var(--secondary-clr);
}

button {
    margin: 0.5rem 0.25rem;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-clr);
    border-style: var(--border-style);
    border-color: var(--border-clr);
    border-width: 
        calc(var(--border-width) / 8) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 8)
    ;
    border-radius: 0.5rem;
    background: var(--primery-low-op-clr);
    backdrop-filter: blur(0.5rem);
    cursor: pointer;
}
button:hover {
    color: var(--hover-clr);
    border-color: var(--hover-clr);
}
button:active {
    color: var(--click-clr);
    border-color: var(--click-clr);
}

textarea {
    padding: 0.5em 1em;
    border-style: var(--border-style);
    border-color: var(--border-clr);
    border-width: 
        calc(var(--border-width) / 8) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 8)
    ;
    border-radius: 0.5rem;
    background: var(--primery-low-op-clr);
    backdrop-filter: blur(0.5rem);
}
textarea:hover {
    border-color: var(--hover-clr);
}
textarea:focus {
    border-color: var(--click-clr);
    outline: none;
}

input[type="text"] {
    min-width: 20rem;
    min-height: 2.5rem;
    margin: 1rem 0.5rem;
    padding: 0.5em 1em;
    border-style: var(--border-style);
    border-color: var(--border-clr);
    border-width: 
        calc(var(--border-width) / 8) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 4) 
        calc(var(--border-width) / 8)
    ;
    border-radius: 0.5rem;
    background: var(--primery-low-op-clr);
    backdrop-filter: blur(0.5rem);
}
input[type="text"]:hover {
    border-color: var(--hover-clr);
}
input[type="text"]:focus {
    border-color: var(--click-clr);
    outline: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-style: var(--border-style);
    border-color: var(--border-clr);
    border-width: 
        calc(var(--border-width) / 8) 
        calc(var(--border-width) / 5) 
        calc(var(--border-width) / 5) 
        calc(var(--border-width) / 8)
    ;
    border-radius: 0.5rem;
    background: var(--primery-low-op-clr);
    backdrop-filter: blur(1rem);
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="checkbox"]:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: var(--secondary-clr);
}
input[type="checkbox"]:hover {
    content: var(--hover-clr);
    border-color: var(--hover-clr);
}
input[type="checkbox"]:active {
    color: var(--click-clr);
    border-color: var(--click-clr);
}