@import url('/style.css');

main {
    text-align: center;
}

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}
input[type="checkbox"] {
    margin: 0;
}

textarea {
    width: 900rem;
}

.text-input {
    width: 50%;
}

.container {
    width: 95%;
    margin: 1rem auto;
    padding: 1em 2em;
}
.container--hidden {
    display: none;
}

.list {
    width: 100%;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 2rem 0;
}
.item__container {
    overflow-x: scroll;
    min-height: 50px;
}
.item__container,
.item__controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.item__checkbox {
    flex-shrink: 0;
    flex-grow: 0;
}
.item__paragraph {
    white-space: normal;
    text-align: start;
}
.item__delete-button {
    flex-shrink: 0;
    flex-grow: 0;
}