@import url('/style.css');

main {
    text-align: center;
}

input[type="checkbox"]:checked + p {
    position: relative;
}
input[type="checkbox"]:checked + p::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate( -50%, -50% );
    height: 0.1562rem;
    width: calc( 100% + 1rem );
    background: var(--secondary);
}
input[type="checkbox"] {
    margin: 0;
}

.text-input {
    width: 50%;
}

.container {
    width: 95%;
    margin: 1rem auto;
    padding: 1em 2em;
}
.container--hidden {
    display: none;
}

.list {
    width: 100%;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 4rem 0 2rem;
}
.item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.item__checkbox {
    flex-shrink: 0;
    flex-grow: 0;
}
.item__paragraph {
    flex-shrink: 1;
    text-align: start;
}
.item__delete-button {
    flex-shrink: 0;
    flex-grow: 0;
}