@import url('/style.css');

main {
    text-align: center;
}

input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}

.text-input {
    width: 50%;
}

.container {
    width: 95%;
    margin: 1rem auto;
    padding: 1em 2em;
    border: 0.3125rem solid var(--secondary);
    border-radius: 1.5rem;
}
.container--hidden {
    display: none;
}

.list {
    width: 100%;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.item__delete-button {
    margin-left: auto;
}